<div class="center hero-unit">
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at their
  <a href="http://railstutorial.org/contact">contact page</a>.
  <br />
  Reach the developers <a href="mailto:liu.titin@gmail.com">here</a>.
</p>
