<p>
  <strong>Class:</strong>
  <%= @kurasu.department %>
</p>
 
<p>
  <strong>Grade:</strong>
  <%= @kurasu.grade %>
</p>

<%= link_to 'Back', kurasus_path %>
 <%= link_to 'Edit', edit_kurasu_path(@kurasu) %>